body {
    background: #eaeffc;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
}

.logo {
    margin-right: 10px;
    width: 30px;
    height: auto;
}

.titulo {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container1, .container2 {
    flex: 1 1 auto;
    margin: 10px;
}

.container1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container2 {
    width: 40%;
}

.container1 textarea, .container2 textarea {
    width: 100%;
    margin-bottom: 5px;
}

#texto {
    width: calc(100% - 20px);
    margin-top: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em 0 0 1em;
    background-color: #eaeffc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    resize: none;
}

.container1 .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container1 .button-container button {
    margin: 20px 10px;
}

.container2 button {
    display: block;
    margin: 20px auto;
}

.boton-encriptar, .boton-desencriptar, .boton-copiar {
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.boton-encriptar {
    background-color: #0a3871;
    color: #ffffff;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.boton-encriptar:hover, .boton-desencriptar:hover, .boton-copiar:hover, .boton-limpiar:hover {
    transition: .4s;
    border: 2px dashed red;
    background-color: #ffffff;
    color: #0a3871;
}

.boton-desencriptar {
    background-color: #ffffff;
    color: #0a3871;
    border: 1px solid #0a3871;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.boton-copiar {
    background-color: #ffffff;
    color: #0a3871;
    border: 1px solid #0a3871;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#resultado {
    width: calc(100% - 20px);
    margin-top: 10px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    resize: none;
    padding: 1em 0 0 1em;
    background-image: url('imagenes/muneco.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    opacity: 0.7;
}

.boton-limpiar {
    background-color: #ffffff;
    color: #0a3871;
    border: 1px solid #0a3871;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 20px auto;
}

.copyright{
    color: #0a3871;
    font-size: 13px;
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container1, .container2 {
        width: 100%;
    }

    .container1 {
        order: 1;
    }

    .container2 {
        order: 2;
    }
}